/* Custom Fonts start */

@font-face{
	font-family: zero;
	src: url(../fonts/zero-velocity-brk/zerovelo.ttf);
	font-weight: bold;
}

@font-face{
	font-family: zig;
	src: url(../fonts/zig/zig_____.ttf);
	font-weight: bold;
}


@font-face{
	font-family: personal;
	src: url(../fonts/personal-computer/PERSONAL.TTF);
}

/* Custom Fonts end */
html{
	--dialog-bg: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkj0511SWJPARxCpO-FfR5LS4VTpajMzfYxRm3zmFXM3A9zoU') center center;
	height: 100%;
}


body{
	height: 100%;
	margin: 0;
}

#enchant-stage{
	border: 1px inset black;
}

#enchant-dialog{
	background: var(--dialog-bg);
	background-size: contain;
	height: 100%;
	width: 49%;
	float: right;
	border: 1px blue solid;

}

h1{
	text-align:center;
	font-family: 'zero';

}
.dialog-wrapper{
	margin-top: 40px;
	width: 100%;
	border: 10px green solid;

}

.dialog{
	font-family: 'zig';
	margin: 30px;
	height: 300px;
	border: 6px inset black;
	background: black;
	color: green;
}

.dialog-options{
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: center;



}

.hints{
	font-family: 'personal';
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px;
	border: 1px purple solid;
}
button{
	margin: 10px;

}
